/* General form container styling */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: "Poppins";

}

/* Form styling */
.add-product-form {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
 
  animation: fadeIn 0.5s ease-in-out;
  margin-top: 10px;
}

.add-product-form h2 {
  text-align: center;
  margin-bottom: 1.7rem;
  color: #3f42ff;
  font-family: 'Poppins';
  font-weight: 600;
}

/* Form group styling */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #555;
}

.form-group input,
.form-group textarea {
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #333;
  transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

.form-group textarea {
  resize: none;
  height: 100px;
}

/* Submit button styling */
.add-button {
  background-color: #007bff;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  margin-top: 1rem;
}

.add-button:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
