.footer {
    background-color: black;
    color: #bcbcbc;
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .divlg{
    display: flex;                     /* Flex container */
  align-items: center; 
  justify-content: center;             /* Vertically center items */
    /* Space items evenly with space between */

}  


  .logo-glow {
    position: relative;
  }
  
  .logo-glow::before {
    content: '';
    position: absolute;
    top: -2px; /* -inset-[2px] */
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 0.5rem; /* rounded-lg */
    background: linear-gradient(to right, indigo, purple, pink);
    opacity: 0.95;
    filter: blur(5px);
  }
  
  .logok {
    position: relative;
    border-radius: 8px;
    height: 55px;
    width: 55px;
  }
  
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
  }
  
  @media (min-width: 768px) {
    .footer-nav {
      flex-direction: row;
      justify-content: center;
    }
  }
  
  .footer-nav a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-nav a:hover {
    color: #ffffff;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
  }
  
  .social-icon {
    height: 24px;
    color: white;
    width: 24px;
  }
  
  .footer-text {
    margin-top: 24px;
  }
  